@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
}

.editer{
	width: 100%;
}

.edit, .container{
	width: 47%;
	overflow-y: auto; 
}

.options{
	box-shadow: 0 0 5px #bbb;
    height: 40px;
    margin-bottom: 10px;
}

.insert{

}

.edit{
	float: left;
	margin-left: 2%;
    border: 1px dashed #BBB;
}

.container{
    float: right;
    margin-right: 2%;
    overflow-x: hidden;
    border: 1px dashed #BBB;
}
.view{
    padding: 10px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 10px;
}

.block{
    border-bottom: 1px dashed #BBB;
}

.block_text{
	padding: 10px;
	outline: none;    
	font-size: 16px;
    line-height: 27px;
}